main section:nth-of-type(1){
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
    padding: 5em;
    
}

main section:nth-of-type(2){
    background-color: var(--background-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
    padding: 5em;
}

main section:nth-of-type(3){
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
    padding: 5em;
}

main section:nth-of-type(1) img, main section:nth-of-type(2) img, main section:nth-of-type(3) img{
    order:1;
    width: 31.25em;
    height: 31.25em;
}

main section:nth-of-type(1) h2,  main section:nth-of-type(2) h2,  main section:nth-of-type(3) h2{
    order:2;
    font-family: 'omnes', sans-serif;
    font-size: 3em;
    color: var(--color-white);
    stroke: var(--outline-header-color);
    stroke-width: 1;
    text-shadow: #006AD9 7px 0 0, #006ab6 6.9286928177px .996602118px 0, #006ab6 6.7162241936px 1.9728999138px 0, #006ab6 6.3669223785px 2.9090030193px 0, #006ab6 5.887904644px 3.7858395576px 0, #006ab6 5.2889294624px 4.585545063px 0, #006ab6 4.5822005272px 5.2918276787px 0, #006ab6 3.7821161747px 5.890296936px 0, #006ab6 2.9049768448px 6.3687605858px 0, #006ab6 1.9686533213px 6.7174701691px 0, #006ab6 .9922212958px 6.9293217659px 0, #006ab6 -.0044257119px 6.9999985695px 0, #006ab6 -1.000982523px 6.9280614853px 0, #006ab6 -1.9771459103px 6.7149753571px 0, #006ab6 -2.9130277634px 6.3650817871px 0, #006ab6 -3.7895612717px 5.8855099678px 0, #006ab6 -4.5888881683px 5.2860293388px 0, #006ab6 -5.2947235107px 4.5788536072px 0, #006ab6 -5.8926868439px 3.7783913612px 0, #006ab6 -6.370595932px 2.9009497166px 0, #006ab6 -6.7187132835px 1.9644057751px 0, #006ab6 -6.9299473763px .9878400564px 0, #006ab6 -6.999994278px -.0088514229px 0, #006ab6 -6.9274272919px -1.0053625107px 0, #006ab6 -6.7137241364px -1.9813909531px 0, #006ab6 -6.3632388115px -2.9170515537px 0, #006ab6 -5.8831124306px -3.7932815552px 0, #006ab6 -5.2831268311px -4.5922293663px 0, #006ab6 -4.5755052567px -5.2976174355px 0, #006ab6 -3.7746648788px -5.8950748444px 0, #006ab6 -2.8969213963px -6.3724284172px 0, #006ab6 -1.9601575136px -6.7199540138px 0, #006ab6 -.9834584594px -6.9305706024px 0, #006ab6 .0132771293px -6.9999876022px 0, #006ab6 1.0097421408px -6.9267902374px 0, #006ab6 1.9856352806px -6.7124700546px 0, #006ab6 2.921074152px -6.3613934517px 0, #006ab6 3.7970004082px -5.880712986px 0, #006ab6 4.5955686569px -5.2802224159px 0, #006ab6 5.3005094528px -4.5721549988px 0, #006ab6 5.8974599838px -3.7709369659px 0, #006ab6 6.3742589951px -2.8928918839px 0, #006ab6 6.7211918831px -1.9559085369px 0, #006ab6 6.9311909676px -.9790764451px 0;
}



main section:nth-of-type(1) p, main section:nth-of-type(2) p , main section:nth-of-type(3) p{
    order:3;
    font-family: 'mont', sans-serif;
    font-size: 1.125em;
    color: var(--color-white);
    line-height: 1.44em;
    text-align: center;
}

main section:nth-of-type(1) a, main section:nth-of-type(2) a, main section:nth-of-type(3) a{
    order:4;
    font-size: 2em;
	font-family: 'Monsterrat', sans-serif;
    color: var(--color-white);
    background-color: var(--button-color);
    text-decoration: none;
    border-radius: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 10em;
    height: 2.5em;
}

@media (min-width: 55em) {
    
}


