/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
	background-color: #f8a;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-nav:#333333;
	--color-background:#eee;
	--general-color:#012;
	--general-background:#fff;
	
	--header-background:#0083ca;
	--color-white:#fff;
	--color-purple: #50037f;
	
	--title-gradient:linear-gradient(#f46 40%, #f8a 80%);
}

@font-face {
    font-family: 'Monsterrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}



/****************/
/* JOUW STYLING */
/****************/
  
section:first-of-type {
	background-color: var(--color-purple);
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
 }
section p {
	color: var(--color-white);
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.3em;
	text-align: center;
	width: 80%;

}
  /*************/
  /* DE HEADER */
  /*************/
  header {
	height:6em;
	padding:0 1em;
	background-color:var(--header-background);
	line-height:1;  
  	display:flex;
	justify-content: space-around;
	align-items: center;
	top:0;
	
  }
  
  
  /********/
  /* winkelmandje */
  /********/

  header a:nth-of-type(2) svg {
    height: 5em; /* Verhoogde hoogte */
    width: 5em;  /* Verhoogde breedte */
}

header a:nth-of-type(2) svg path {
    fill-rule: evenodd;
    fill: var(--color-white);
    stroke: var(--color-white);
    stroke-width: 1;
}

  
  
  /**********/
  /* logo */
  /**********/

  header img {
	height:3em;
  }


  /***************/
  /* hambruger menu */
  /***************/
  nav button {
	padding:.5em;
	
	/* icon en tekst met gap-je naast elkaar */
	display:flex;
	align-items: center;
	justify-content: center;

	
	/* standaard styling aanpassen */
	appearance:none;
	background-color: transparent;
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;
	color:var(--color-purple);
	
	width: 5em;
	height: 5em;
	

  }

  nav button svg {
	fill: var(--color-purple);
	width: 2em;
	height: 2em;
	stroke: var(--color-purple);
    stroke-width: 1;
  }
  
  /*******************/
  /* LIJST MET LINKS */
  /*******************/
  nav ul { 
    margin: 0; 
    padding: 0; 
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-content: start;

    background: var(--color-white);
    
    position: absolute; 
    top: 10em; 
    left: 0; 
    right: 0; 
    
    /* JOUW CODE HIER - stap 2 */
    translate: -100%;
    
    /* JOUW CODE HIER - stap 4 */
    transition: 0.3s;
}

/* als menu open is */
nav.toonMenu ul {
    /* JOUW CODE HIER - stap 4 */
    translate: 0%;

	display: flex;
	flex-direction: column;

	height: 100%;
}
  
  nav li {
	
	padding: 1.1rem 3rem;
    text-decoration: none;
	
    font-size: 1em;
	font-family: 'Monsterrat', sans-serif;

	display: flex;
	justify-content: left;
  }
  
  nav a {
	text-decoration: none;
	color: var(--color-text-nav);
  }

  /****************************************************************/
  /* styling voor de header als de browser minimaal 38em breed is */
  /****************************************************************/
  @media (min-width:38em) {
	nav {
	  /* JOUW CODE HIER - stap 8 */
  order:0;
	  
	}
	
	nav button {
	  /* JOUW CODE HIER - stap 6 */
  display:none;
	  
	}
	
	nav ul {
	  /* JOUW CODE HIER - stap 7 */
  position:static;
	  translate:none;
	  background: none;
	  padding:0;
	}
	
	nav li {
	  /* JOUW CODE HIER - stap 9 */
	  flex-basis:0;
	  flex-grow:0;
  
	  
	}
	
	nav a {
	  /* JOUW CODE HIER - stap 10 */
   flex-direction:column;
	  border: none;
	  
	}
	
	header > a:last-of-type {
	  /* JOUW CODE HIER - stap 10 */
  flex-direction:column;
	  
	}
  }
  
  
  
  
  
  /****************************************************************/
  /* styling voor de header als de browser minimaal 57em breed is */
  /****************************************************************/
  @media (min-width:54em) {
	header > a:last-of-type,
	nav a {
	  /* JOUW CODE HIER - stap 11 */
	  flex-direction:row;
	  
	  
	}
  }

