/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #111;
	--color-text-nav: #333333;
	--background-color-1: #5ba7dc;
	--background-color-2: #aa258d;
	--outline-header-color: #006ab6;
	--button-color: #f12a37;

	--header-background: #0083ca;
	--color-white: #fff;
	--color-purple: #50037f;

}

/* fonts */

@font-face {
	font-family: 'Monsterrat';
	src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'omnes';
	src: url('fonts/Omnes.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mont';
	src: url('fonts/mont.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* DE HEADER */

header section:nth-of-type(2) {
	height: 6em;
	padding: 0 1em;
	background-color: var(--header-background);
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* Verdeel de ruimte tussen de items */
}



/* section boven header */

header section:nth-of-type(1) {
	background-color: var(--color-purple);
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
}

header section p {
	color: var(--color-white);
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.3em;
	text-align: center;
	width: 80%;

}

/* winkelmandje */

header a:nth-of-type(2) svg {
	height: 2.5em;
	width: 2.5em;
}

header a:nth-of-type(2) svg path {
	fill-rule: evenodd;
	fill: var(--color-white);
	stroke: var(--color-white);
	stroke-width: 1;
}

/* login */

header a:nth-of-type(3) svg {
	height: 5em;
	width: 5em;
}

header a:nth-of-type(3) svg path {
	fill-rule: evenodd;
	fill: var(--color-white);
	stroke: var(--color-white);
	stroke-width: 1;
}



/* logo */

header img {
	height: 3em;
}



/* hambruger menu */

nav button {
	padding: .5em;

	display: flex;
	align-items: center;
	justify-content: center;

	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--color-purple);

	width: 5em;
	height: 5em;


}

nav button svg {
	fill: var(--color-purple);
	width: 2em;
	height: 2em;
	stroke: var(--color-purple);
	stroke-width: 1;
}

/* nav menu */

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-content: start;

	background: var(--color-white);

	position: absolute;
	top: 10em;
	left: 0;
	right: 0;

	translate: -100%;

	transition: 0.3s;

	display: flex;
	flex-direction: column;

	height: 100%;
}

nav.toonMenu ul {
	translate: 0%;
}

nav li {

	padding: 1.1rem 3rem;
	text-decoration: none;

	font-size: 1em;
	font-family: 'Monsterrat', sans-serif;

	display: flex;
	justify-content: left;
}

nav a {
	text-decoration: none;
	color: var(--color-text-nav);
}

/* footer*/

footer {
	background-color: var(--color-purple);
	display: flex;
	flex-direction: column;
	gap: 2em
}

/*footer section plus form*/

footer section:nth-of-type(1) h2 {
	font-size: 2.1875em;
	font-family: 'omnes', sans-serif;
	color: var(--color-white);
	text-align: center;

}

footer section:nth-of-type(1) p {
	order: 3;
	font-family: 'mont', sans-serif;
	font-size: 1.125em;
	color: var(--color-white);
	line-height: 1.44em;
	text-align: center;
}

footer section:nth-of-type(1) form input {
	font-family: 'mont', sans-serif;
	font-size: 2em;
	color: white;
}

footer section:nth-of-type(1) form button {

	background-color: var(--button-color);
	color: white;
	border: none;
	font-size: 2em;
	font-family: 'mont', sans-serif;
}

/*footer eerste lijst*/
footer ul:nth-of-type(1) li a svg {
	width: 2.5em;
	height: 2.5em;
}

footer ul:nth-of-type(1) li a svg path {
	fill-rule: evenodd;
	fill: var(--color-white);
}

footer ul:nth-of-type(1) li a svg path {
	fill-rule: evenodd;
	fill: var(--color-white);
}

footer ul:nth-of-type(1) li a{
	font-family: 'mont', sans-serif;
	font-size: 1.125em;
	color: var(--color-white);
	line-height: 1.44em;
	text-align: center;
}

footer ul:nth-of-type(1){
	display: flex;
	flex-direction: row;
	list-style: none;
}

/* styling voor de header als de browser minimaal 50em breed is */

@media (min-width: 55em) {
	header section:nth-of-type(2) {
		height: 4em;
		padding: 0 1em;
		background-color: var(--header-background);
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	header a:first-of-type {
		order: 1;
	}

	nav {
		order: 2;
	}

	header a:nth-of-type(2) {
		order: 3;
	}

	header a:last-of-type {
		order: 4;
	}

	nav ul {
		translate: 0%;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		gap: 1em;
		height: auto;
		top: auto;
		background-color: transparent;
	}

	nav a {
		color: var(--color-white);
		font-size: 1.5em;
	}

	nav button {
		display: none;
	}

	header a:first-of-type img {
		height: 5em;
		margin-top: 5em;
		position: relative;
		z-index: 100000;
	}

}